@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
:root {
  --foreground: #bfbfbf;
  --background: #141316;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #bfbfbf;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold; 
}

p, li, span {
  font-family: 'Raleway', sans-serif;
  font-weight: normal; 
}

input, textarea, select {
  background: transparent;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid var(--foreground);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
  background-color: var(--foreground) ;
  color: var(--background);
  font-weight: 500;
}

.custom-file-upload:hover {
  background-color:#a4a3a3;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
