@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
:root {
  --foreground: #ffffff;
  --background: #141316;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold; 
}

p, li, span {
  font-family: 'Raleway', sans-serif;
  font-weight: normal; 
}

input, textarea, select {
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
